<html layout:decorator="layout">
<div layout:fragment="content">

	<div class="inner cover">
		<h1 class="cover-heading">Welcome to BYI online Application
			system.</h1>
		<!-- <p class="lead">Please click the below button to complete the
			application process.</p> -->
		<p class="lead">
			
		</p>
	</div>
<form action="student/register" class="modal multi-step" id="applicationModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title step-1" data-step="1" style="color: black">Step 1.Student Details</h4>
                <h4 class="modal-title step-2" data-step="2" style="color: black">Step 2.Next of kin Details</h4>
                <h4 class="modal-title step-3" data-step="3" style="color: black">Step 3.School</h4>
				<h4 class="modal-title step-4" data-step="4" style="color: black">Step 4.Course Choices</h4>
				<h4 class="modal-title step-5" data-step="5" style="color: black">Step 5.Submit</h4>	
                <div class="m-progress">
                    <div class="m-progress-bar-wrapper">
                        <div class="m-progress-bar">
                        </div>
                    </div>
                    <div class="m-progress-stats" style="color: black">
                        <span class="m-progress-current" style="color: black">
                        </span>
                        /
                        <span class="m-progress-total" style="color: black">
                        </span>
                    </div>
                    <div class="m-progress-complete" style="color: black">
                        Completed
                    </div>
                </div>
            </div>
            <div class="modal-body step-1" data-step="1">
				<p style="color: black">Student personal Details.</p>
				<input type="text" id="firstName" name="firstName" class="form-control" placeholder="Full Names" required="required" autofocus="autofocus"/><br>
				<input type="hidden" id="firstNameParam" name="firstNameParam" class="form-control" placeholder="Full Names"/>
				<input type="text" id="lasttName" name="lasttName" class="form-control" placeholder="Surname" required="required"/><br>
				<select class="form-control" name="gender" id="gender">
															<option>Female</option>
															<option>Male</option>
				</select><br>
				<input type="email" class="form-control" id="email" name="email" placeholder="Email" /><br>
													
				<input type="text" class="form-control" id="mobile" name="mobile" placeholder="Mobile" /><br>
													
				<input type="text" class="form-control" id="idNumber" name="idNumber" placeholder="13 Digit Id Number" /><br>
													
				<input type="text" class="form-control" id="PhysicalAddress" name="PhysicalAddress" placeholder="Physical Address" /><br>
													
				<div class="form-group">
											<div class="col-sm-10">
												<div class="row">

													<div class="col-md-9">
														<input type="text" name="postalAddress" id="postalAddress"
															class="form-control" placeholder="Postal Address" />
													</div>
													<div class="col-md-3">
														<input type="text" name="postalCode" id="postalCode"
															class="form-control" placeholder="Code" />
													</div>
												</div>

											</div>
				</div>
            </div>
            <div class="modal-body step-2" data-step="2">
                <p style="color: black">Next of kin Details.</p>
				
				<input type="text" class="form-control" id="nextOfKinName"
													name="nextOfKinName" placeholder="Name" /><br>
				
				<input type="text" class="form-control"
													id="nextOfKinSurname" placeholder="Surname" /><br>
				
				<input type="text" class="form-control"
													id="nextOfKinContact" placeholder="Contact Number" /><br>
				
				<input type="text" class="form-control" id="nextOfKinEmail"
													placeholder="Email Address" /><br>
				
				<input type="text" class="form-control" id="nextOfKinID"
													placeholder="13 Digit ID Number" /><br>
            </div>
            <div class="modal-body step-3" data-step="3">
                <p style="color: black">School </p>
				<select class="form-control" name="school" id="school">
															<option>Nala Secondary School</option>
															<option>Mohlamme Secondary School</option>
															<option>Ramogoseji</option>
															<option>Dibathuto Secondary School</option>
				</select><br>
				
				<div style="color: black">
					<p style="color: black">Subject Stream</p>
					<input type="radio" name="subjectStream" class="Sciences" value="1"/ style="color: black"> Sciences<br></br>
					<input type="radio" name="subjectStream" class="Commerce" value="2" checked="checked" style="color: black"/> Commercial<br>
					
				</div>
            </div>
			<div class="modal-body step-4" data-step="4">
				<p style="color: black">Course Choices</p>
				<h4 style="color: black">First Choice.</h4>
				<select class="form-control" name="institutionFirstChoice" id="institutionFirstChoice">
					<option>Select Institution</option>
					<option>Tshwane University of Technology</option>
					<option>University of Johannesburg</option>
					<option>University of Pretoria</option>
					<option>University of South Africa</option>
					<option>Durban University of Technology</option>
					<option>University of Kwa-Zulu Natal</option>
					<option>University of Cape Town</option>
				</select><br>
				
				<select class="form-control" name="FirstChoiceCource" id="FirstChoiceCource" placeholder="Select Course">
					<option>Select Course</option>
				</select><br>
				
				<h4 style="color: black">Second Choice.</h4>
				<select class="form-control" name="institutionSecondChoice" id="institutionSecondChoice">
					<option>Select Institution</option>
					<option>Tshwane University of Technology</option>
					<option>University of Johannesburg</option>
					<option>University of Pretoria</option>
					<option>University of South Africa</option>
					<option>Durban University of Technology</option>
					<option>University of Kwa-Zulu Natal</option>
					<option>University of Cape Town</option>
				</select><br>
				
				<select class="form-control" name="secondChoiceCource" id="secondChoiceCource" placeholder="Select Course">
					<option>Select Course</option>
				</select>
				
				
				
			</div>
			<div class="modal-body step-5" data-step="5">
				<h4 style="color: black">This is the final step. Are you sure you want to submit?</h4>
			</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary step step-1" data-step="1" onclick="sendEvent('#demo-modal-3', 2)">Continue</button> 
				
				<!-- <a class="btn btn-info" href="student/checkStudent?idNumber="
				onclick="sendEvent('#demo-modal-3', 2)">Continue</a> -->


                <button type="button" class="btn btn-primary step step-2" data-step="2" onclick="sendEvent('#demo-modal-3', 1)">Back</button>
                <button type="button" class="btn btn-primary step step-2" data-step="2" onclick="sendEvent('#demo-modal-3', 3)">Continue</button>
				
				<button type="button" class="btn btn-primary step step-3" data-step="3" onclick="sendEvent('#demo-modal-3', 2)">Back</button>
				<button type="button" class="btn btn-primary step step-3" data-step="3" onclick="sendEvent('#demo-modal-3', 4)">Continue</button>
				
				<button type="button" class="btn btn-primary step step-4" data-step="4" onclick="sendEvent('#demo-modal-3', 3)">Back</button>
				<button type="button" class="btn btn-primary step step-4" data-step="4" onclick="sendEvent('#demo-modal-3', 5)">Continue</button>
				<button type="button" class="btn btn-primary step step-5" data-step="5" onclick="sendEvent('#demo-modal-3', 4)">Back</button>
				<button type="button" class="btn btn-primary step step-5" data-step="5" >Submit</button>
            </div>
        </div>
    </div>
</form>
</div>
</html>